<div id="floating-panel">
  <input onclick="clearMarkers();" type=button value="Hide Markers">
  <input onclick="showMarkers();" type=button value="Show All Markers">
</div>

<div id="map"></div>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqArKUAy1RhQkNKvhDDLLvELuP5Zu26xc&callback=initMap">
</script>
