<div id="floating-panel">
  <input class="primary-btn margin-to-right" onclick="clearMarkers();" type=button value="Hide Markers">
  <input class="primary-btn" onclick="showMarkers();" type=button value="Show All Markers">
  <input class="primary-btn" onclick="showNearestLocations('relief_material_collection');" type=button value="Show Nearest Centers">
  <input class="primary-btn" onclick="showNearestLocations('shelter');" type=button value="Show Nearest Shelters">
</div>

<div id="map"></div>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAPS_API_KEY'] %>&callback=initMap">
</script>
