/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .primary-btn{
    color: #fff;
    background-color: #007bff;
    border: none;
    height: 38px;
    border-radius: 2px;
    padding: 11px 12px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
 }
 .primary-btn:hover{
   background-color: #0162cb;
 }
 .gm-style-iw > div{
   padding: 10px;
 }
 .margin-to-right{
   margin-right: 10px;
 }
 #floating-panel {
   position: absolute;
   top: 6px;
   left: 200px;
   z-index: 5;
   padding: 5px;
   text-align: center;
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
 }
